development:
  app_id: <-- YOUR APP ID -->
  secret: <-- YOUR APP SECRET -->
  # http://developers.facebook.com/docs/authentication/permissions/
  default_permissions: [read_stream, offline_access, publish_stream, friends_hometown, friends_location]